#added by sxy
name=Harry Potter

#ERP config
ERP_Address=192.168.2.9
ERP_RequestPort=8001

#Packer config

#Modbus config
Modbus1_Host=192.168.23.168
Modbus1_Port=3000
Modbus2_Host=192.168.23.249
Modbus2_Port=3000
